
<div id="wrap" style="margin-top: 20px">
  <section class="content" id="main-container">
    <div class="container-fluid content_style">
      <h1 id="title" style="text-align: center; font-size: 40px">Danh sách người dùng</h1>
      <div class="card shadow">
        <div class="col-12 card-header d-flex justify-content-between">
          <div class="col-8 mt-auto mb-auto">
            <a style="color: white;" class=" btn btn-primary" [routerLink]="['/emp-create']">
              <i class="fa fa-plus-circle" aria-hidden="true"></i> Thêm Tài Khoản
            </a>
          </div>
          <div class="col-4 input-group mt-auto mb-auto">
            <input type="search" (ngModelChange)="searchStaffByKey(key.value)" #key="ngModel" ngModel name="key" class="form-control" placeholder="Tìm kiếm">
            <div class="input-group-append">
              <button type="submit" class="btn btn-default">
                <i style="font-size: 20px" class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover" width="100%" cellspacing="0">
              <thead class="thead-dark">
              <tr>
                <th class="text-center">ID</th>
                <th class="text-left">Tên Đăng Nhập</th>
                <th class="text-left">Họ Tên</th>
                <th class="text-left">Quyền</th>
                <th class="text-left">Bộ Phận</th>
                <th class="text-left">Email</th>
                <th class="text-left">Phone</th>
                <th class="text-center" colspan="3">Hành Động</th>
              </tr>
              </thead>
              <tbody *ngFor=" let employee of listEmployee">
              <tr>
                <td class="text-center">{{employee.id}}</td>
                <td class="text-left">{{employee.username}}</td>
                <td class="text-left">{{employee.fullName}}</td>
                <td *ngIf="employee.role == 1" class="text-left">
                  Admin
                </td>
                <td *ngIf="employee.role != 1" class="text-left">
                  User
                </td>
                <td class="text-left">{{employee.division}}</td>
                <td class="text-left">{{employee.email}}</td>
                <td class="text-left">{{employee.phone}}</td>
                <td class="text-center">
                  <a class="trigger-btn" data-toggle="modal" data-target="#myModal" (click)="onOpenModal(employee,'delete')">
                      <span class="material-icons">
                        <i style="font-size: 20px; color: red" class="fa fa-trash" aria-hidden="true"></i>
                      </span>
                  </a>
                </td>
                <td class="text-center">
                  <a [routerLink]="['/emp-update' , employee.id]">
                      <span class="material-icons">
                        <i style="font-size: 20px; color: #17a2b8" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </span>
                  </a>
                </td>
                <td class="text-center"><a href="#">
                  <i style="font-size: 20px;" class="fa fa-info-circle" aria-hidden="true"></i>
                </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <!-- Modal -->

          <div id="deleteEmployeeModal" class="modal fade" role="dialog"
               aria-labelledby="deleteModelLabel" aria-hidden="true">
            <div class="modal-dialog modal-confirm">
              <div class="modal-content">
                <div class="modal-header flex-column">
                  <div class="icon-box">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </div>
                  <h4 class="modal-title w-100">Bạn chắc chắn chứ ?</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                  <p>Bạn thực sự muốn xóa tài khoản <b style="color: red;">{{deleteEmployee?.username}}</b> ra khỏi
                    danh sách ? Thao tác sẽ xóa tài khoản ra khỏi danh sách này !</p>
                </div>
                <div class="modal-footer justify-content-center">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy Bỏ</button>
                  <button (click)="deleteEmployeeById(deleteEmployee?.id)" type="button" class="btn btn-danger">Xóa
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal -->
          <div class="d-flex flex-row justify-content-center ">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link click" tabindex="-1" (click)="paginate(0)">Trước</a>
                </li>
                <li class="page-item ">
                  <button class="page-link text-dark click" (click)="paginate(page-1)"><i
                    class=""></i><<
                  </button>
                </li>
                <li class="page-item click"><a class="page-link text-dark" (click)="paginate(page-2)"
                                               *ngIf="page-2>=0&&page+1>=totalPage">{{page - 1}}</a></li>
                <li class="page-item click"><a class="page-link text-dark" (click)="paginate(page-1)"
                                               *ngIf="page-1>=0">{{page}}</a></li>
                <li class="page-item click"><a class="page-link text-dark bg-secondary" (click)="paginate(page)">{{page
                + 1}}</a></li>
                <li class="page-item click"><a class="page-link text-dark" (click)="paginate(page+1)"
                                               *ngIf="page+1<totalPage">{{page + 2}}</a></li>
                <li class="page-item click"><a class="page-link text-dark" (click)="paginate(page+2)"
                                               *ngIf="page+2<totalPage&&page-1<0">{{page + 3}}</a></li>
                <li class="page-item">
                  <button class="page-link text-dark click" (click)="paginate(page+1)"><i
                    class=""></i>>>
                  </button>
                </li>
                <li class="page-item">
                  <a class="page-link text-dark click" (click)="paginate(totalPage-1)">Tiếp</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

