
<div id="wrap">
  <div class="content">
    <section class="content" style="font-family: 'Poppins', sans-serif;">
      <div class="container-fluid">
        <form [formGroup]="createEquipment" (ngSubmit)="onSubmit()">
        <div class="row content_style">
          <div class="col-md-3">
            <div class="card card-user">
              <div class="card-body">
                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                  <div class="fileinput-new thumbnail img-raised">
                    <img [src]="getImageUrl()" style="width: 100%;" alt="..." rel="nofollow">
                  </div>
                  <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                  <div>
                    <span style="margin-top: 20px"
                          class="btn btn-info btn-round btn-default btn-file btn__upload-custom">
                      <span class="fileinput-new" >Chọn ảnh</span>
                      <input type="file" name="..." (change)="selectImage($event)"/>
                    </span>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="card-user">
              <div class="card-header card-background-color ">
                <h2><b>Thêm Mới Tài Sản</b></h2>
              </div>
              <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 pr-1">
                      <div class="form-group">
                        <label>Tên tài sản <span class="infomation__required">(*)</span></label>
                        <input type="text" class="form-control" placeholder="Nhập tên tài sản" formControlName="name">
                        <ng-container *ngFor="let validation of validationMessage.name">
                          <small class="form-text text-danger"
                                 *ngIf="createEquipment.get('name').hasError(validation.type)&& createEquipment.get('name').touched">
                            {{validation.message}}
                          </small>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Tổng số lượng <span class="infomation__required">(*)</span></label>
                        <input type="text" class="form-control" placeholder="Nhập số lượng" formControlName="stock">
                      </div>
                      <ng-container *ngFor="let validation of validationMessage.stock">
                        <small class="form-text text-danger"
                               *ngIf="createEquipment.get('stock').hasError(validation.type)&& createEquipment.get('stock').touched">
                          {{validation.message}}
                        </small>
                      </ng-container>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Đang sửa chữa <span class="infomation__required">(*)</span></label>
                        <input type="text" class="form-control" placeholder="Nhập số lượng"
                               formControlName="repairQuantity">
                      </div>
                      <ng-container *ngFor="let validation of validationMessage.repairQuantity">
                        <small class="form-text text-danger"
                               *ngIf="createEquipment.get('repairQuantity').hasError(validation.type)&& createEquipment.get('repairQuantity').touched">
                          {{validation.message}}
                        </small>
                      </ng-container>
                    </div>
                  </div>
                  <div class="row">
                    <div class="row">
                      <div class="" style="margin-left: 200px">
                        <button class="btn btn-info" routerLink="/list-equipment">Quay Lại
                        </button>
                      </div>
                      <div class="">
                        <button class="btn btn-secondary" [disabled]="createEquipment.invalid" style="margin: 0 30px">Thêm Mới
                        </button>

                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </section>
  </div>
</div>
