label{
  width: 144px;
}
.container{
  display: grid;

}
#result{
  border: 1px solid black;
  margin-top: 50px;
  width: 100%;
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
}
