<div class="container">
  <h1 id="title" style="text-align: center; margin-top: 50px"><b>Danh sách phản hồi</b></h1>

</div>
<div>
    <table class="table table-striped table-hover ">
      <thead class="thead-dark">
      <tr>
        <th (click)="sort('id')">STT&nbsp;<i class="fa fa-sort"></i></th>
        <th (click)="sort('description')">Tên người dùng&nbsp;<i class="fa fa-sort"></i></th>
        <th (click)="sort('id')">Tiêu đề&nbsp;<i class="fa fa-sort"></i></th>
        <th (click)="sort('dateFeedback')">Thời gian phản hồi&nbsp;<i class="fa fa-sort"></i></th>
        <th (click)="sort('id')">Nội dung&nbsp;<i class="fa fa-sort"></i></th>
        <th>Trạng thái</th>
      </tr>
      </thead>
      <tbody class="table-active">
      <tr *ngFor="let feedbacks of feedback| orderBy: key:reverse|paginate:{itemsPerPage:3,currentPage:p};">
        <td>{{feedbacks.id}}</td>
        <td>{{feedbacks.description}}</td>
        <td>{{feedbacks.dateFeedback}}</td>
        <td>{{feedbacks.feedBackType}}</td>
        <td>{{feedbacks.IsHandle}}</td>
      </tr>
      </tbody>
    </table>
  </div>
