
<div class="container">
  <h1 style="text-align: center; margin: 40px 0"><b>
    Xử lý phản hồi phòng họp
  </b>
  </h1>
  <div>
    <form>
      <div class="card-body ">
        <div class="row">
          <div class="col-sm-3" align="right">
            <h6 class="mb-0">Tiêu đề:</h6>
          </div>
          <div class="col-sm-6 text-secondary">

            <input type="text" class="form-control border-1 shadow-1" readonly="readonly" placeholder="Góp ý kiến phòng hop">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-3" align="right">
            <h6 class="mb-0">Người gửi:</h6>
          </div>
          <div class="col-sm-6 text-secondary">

            <input type="text" class="form-control border-1 shadow-1" readonly="readonly" placeholder="Nguyễn Tất Việt">
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col-sm-3" align="right">
            <h6 class="mb-0">Ngày giửi:</h6>
          </div>
          <div class="col-sm-6 text-secondary">

            <input type="text" class="form-control border-1 shadow-1" readonly="readonly" placeholder="28/08/2021">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-3" align="right">
            <h6 class="mb-0">Tên phòng :</h6>
          </div>
          <div class="col-sm-6">
            <select class="form-control" readonly="readonly">
              <option>Chọn</option>
              <option>Anda</option>
              <option>Andy</option>
              <option>Jame</option>
              <option>Json</option>
            </select>
          </div>
        </div>


        <br>
        <div class="row">
          <div class="col-sm-3" align="right">
            <h6 class="mb-0">Nội dung :</h6>
          </div>
          <div class="col-sm-6 text-secondary">
                    <textarea class="form-control"  readonly="readonly">máy lạnh bị hỏng
                    </textarea>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-3" align="right">
            <h6 class="mb-0">Nhân Viên xử lý  :</h6>
          </div>
          <div class="col-sm-6">
            <select class="form-control">
              <option>Chọn</option>
              <option>Việt</option>
              <option>Trí</option>
              <option>Huệ</option>
              <option>Nam</option>
            </select>
          </div>
        </div>


        <br>
        <div class="row">
          <div class="col-sm-3" align="right">
            <h6 class="mb-0">Nội dung  xử lý:</h6>
          </div>
          <div class="col-sm-6 text-secondary">
                    <textarea class="form-control" >máy lạnh bị hỏng
                    </textarea>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-sm-12" align="center" >
            <button class="btn btn-primary" >Xử lý phản hồi</button>
            <button type="submit" class="btn btn-danger"  style="margin: 0 50px">Huỷ phản hồi</button>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
