<div id="wrap" style="font-size: 18px">
  <div class="container">
    <div class="head">
      <h1 style="text-align: center; margin: 30px 0">
        Thông tin chi tiết phòng họp
      </h1>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <a routerLink="" >
              <span class="material-icons" style="margin-bottom: 20px">arrow_back</span>
            </a>
            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Tên phòng:</h6>
              </div>
              <div class="col-sm-7 text-secondary">
                {{meetingDetails.name}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Tầng:</h6>
              </div>
              <div class="col-sm-7 text-secondary">
                {{meetingDetails.floors}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Khu vực:</h6>
              </div>
              <div class="col-sm-7 text-secondary">
                {{meetingDetails.area.name}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Sức chứa:</h6>
              </div>
              <div class="col-sm-7 text-secondary">
                {{meetingDetails.typeMeetingRoom.capacity}} người
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Loại phòng:</h6>
              </div>
              <div class="col-sm-7 text-secondary">
                {{meetingDetails.typeMeetingRoom.name}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Trạng thái:</h6>
              </div>
              <div class="col-sm-7 text-secondary">
                {{meetingDetails.roomStatus.name}}
              </div>
            </div>

            <hr>
            <div class="row">
              <div class="col-sm-5">
                <h6 class="mb-0">Tài sản:</h6>
              </div>
              <div class="col-sm-7 text-secondary">
                <ul *ngFor="let items of equipmentList">
                  <li>{{items.quantity}}, {{items.equipment.name}}</li>
                </ul>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-info" [routerLink]="['register-history/meeting-room/', id]">Xem lịch sử đăng kí</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 p-3">
        <div class="row">

          <div class="col-sm-12 justify-content-center" style="padding-bottom: 100px;">
            <img class="img-meeting" [src]="meetingDetails.imageUrl" >
          </div>
          <div class="col-md-6 mb-3" *ngFor="let equipment of equipmentList" style="padding-left: 30px">
            <img class="img-meeting" [src]="equipment.equipment.imageUrl">
<!--            <div class="row" style="justify-content: center; padding: 20px 0;font-size: 20px">{{equipment.equipment.name}}</div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

