<div id="wrap">
  <div class="container">
    <h3 class="row justify-content-center" style="margin-top: 20px; font-size: 40px">Thống kê</h3>
    <div style="display: flex">


      <div id="findByDate" class="d-flex justify-content-start flex-column rounded p-3 col-5">
        <form [formGroup]="statisticByDateForm" (ngSubmit)="onSubmitDateForm(statisticByDateForm)">

          <div style="height: 260px">

            <legend>Theo thời gian</legend>
            <div class="input-group ">
              <label class="input-group-text" for="startDate">Từ ngày</label>
              <input formControlName="dateCheckin" class="form-control" id="startDate" name="date"
                     placeholder="DD/MM/YYYY" type="date"/>
            </div>
            <br>
            <div class="input-group ">
              <label class="input-group-text" for="endDate">
                Đến
              </label>
              <input formControlName="dateCheckout" class="form-control" id="endDate" name="endDate"
                     placeholder="DD/MM/YYYY" type="date"/>
            </div>

            <button style="margin-top: 75px" class="btn btn-primary" type="submit">Thống kê</button>

          </div>

        </form>

      </div>

      <div class="col-2"></div>

      <div id="findByRoom" class="d-flex justify-content-start flex-column rounded p-3 col-5 ">
        <form [formGroup]="statisticByRoomForm" (ngSubmit)="onSubmitRoomForm(statisticByRoomForm)">

          <div style="height: 260px">
            <legend>Theo phòng</legend>

            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupSelect01">Chọn loại phòng</label>

              <select formControlName="idTypeMeetingRoom" class="custom-select" id="inputGroupSelect01">
                <option selected [ngValue]="null">Chọn loại phòng</option>
                <option *ngFor="let type of typesMeetingRoom" [value]="type.id">{{type.name}}</option>
              </select>
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupSelect02">Chọn
                phòng</label>
              <select formControlName="idMeetingRoom" class="custom-select" id="inputGroupSelect02">
                <option selected [ngValue]="null">Chọn phòng</option>
                <option *ngFor="let meetingRoom of meetingRooms" [value]="meetingRoom.id">{{meetingRoom.name}}</option>
              </select>
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupSelect03">Tháng </label>
              <select formControlName="month" class="custom-select" id="inputGroupSelect03">
                <option selected [ngValue]="null">Tháng</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </div>

            <button style="margin-top: 10px" class="btn btn-primary" type="submit">Thống kê</button>

          </div>

        </form>

      </div>
    </div>
  </div>
  <div id="result" class="p-3">
    <h4>Kết quả</h4>
    <!--  <div class="row">-->
    <!--    <div class="col-lg-4">-->
    <!--    <label >Tên phòng : 6A</label>-->
    <!--    </div>-->
    <!--    <div class="col-lg-6 d-inline" >-->
    <!--    <label class="d-inline" >Tổng số lần sử dụng : {{totalsOfUses}}</label>-->
    <!--    <label style="margin-left: 15px">Hiệu suất : {{performance}}%</label>-->
    <!--    </div>-->
    <!--  </div>-->
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Tên người đăng kí</th>
          <th scope="col">Thời gian bắt đầu</th>
          <th scope="col">Thời gian kết thúc</th>
          <th scope="col">Ngày bắt đầu</th>
          <th scope="col">Ngày kết thúc</th>
          <th scope="col">Trạng thái</th>
          <th scope="col">Ngày đăng kí</th>
        </tr>
        </thead>
        <tbody class="table-active">
        <tr *ngFor="let obj of statistics | paginate: {itemsPerPage:10, currentPage: page}; index as i">
          <td scope="row">{{i + 1}}</td>
          <td>{{obj.account.fullname}}</td>
          <td>{{obj.timeStart}}</td>
          <td>{{obj.timeEnd}}</td>
          <td>{{obj.dateCheckin|date: 'dd-MM-yyyy'}}</td>
          <td>{{obj.dateCheckout|date: 'dd-MM-yyyy'}}</td>
          <td>{{obj.meetingRoom.roomStatus.name}}</td>
          <td>{{obj.createDate|date: 'dd-MM-yyyy'}}</td>
        </tr>
        </tbody>
      </table>
      <span *ngIf="isResult">
      <div>
        <pagination-controls (pageChange)="page = $event" class="text-center" previousLabel="Trước"
                             nextLabel="Tiếp"></pagination-controls>
      </div>
        </span>
    </div>
  </div>
  <br>

  <div id="chartStatistical">
    <div class="row justify-content-center">

    <span *ngIf=" isMonth || isDateCheckout">
    <div class="float-left">
      <ejs-chart [primaryXAxis]='xAxisPerformance' [primaryYAxis]='yAxisPerformance'
                 [title]="performanceChartTitle"
                 [legendSettings]='legend' [tooltip]='toolTipSettings'>
        <e-series-collection>
          <e-series type="Line" [dataSource]="dataCharts"
                    xName="nameMeetingRoom" yName="performance"
                    name="Đồ thị thống kê hiệu suất">
          </e-series>
        </e-series-collection>
      </ejs-chart>
    </div>
    </span>


      <div class="float-right">
        <ejs-chart [primaryXAxis]='xAxisTotalsOfUses'
                   [primaryYAxis]='yAxisTotalsOfUses'
                   [title]="usesChartTitle"
                   [legendSettings]='legend' [tooltip]='toolTipSettings'>
          <e-series-collection>
            <e-series type='Column' fill="#4472c4" [dataSource]="dataCharts"
                      xName='nameMeetingRoom' yName="uses"
                      [marker]="markerSettings"
                      name="Đồ thị thống kê số lần sử dụng">
            </e-series>
          </e-series-collection>

        </ejs-chart>
      </div>
    </div>
  </div>
</div>
