#findByDate{
  border: 1px solid black;
  height: 280px;
  margin-top: 20px;

}

#findByRoom{
  border: 1px solid black;
  height: 280px;
  margin-top: 20px;
}
.container{
  display: grid;
}

#result{
  border: 1px solid black;
  margin-top: 50px;
  width: 75%;
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
}

label{
  width: 144px;
}

select{
  width: 150px;
}
