<div id="wrap">
  <div id="result" class="row table-responsive">
    <h1 id="title" style="text-align: left; margin-top: 50px ; margin-bottom: 50px ;font-size: 50px"><b>Danh sách phản hồi</b></h1>
    <div class="table-responsive">
      <table class="table table-hover" style="text-align: center">
        <thead class="thead-dark">
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Tên người dùng</th>
          <th scope="col">Tiêu đề</th>
          <th scope="col">Thời gian phản hồi</th>
          <th scope="col">Tên phòng</th>
          <th scope="col">Nội dung</th>
          <th scope="col">Loại lỗi</th>
          <th scope="col">Trạng thái</th>
          <th scope="col">Hành động</th>
        </tr>
        </thead>
        <tbody class="table-active">
        <tr *ngFor="let feed of feedback |paginate: {itemsPerPage:8, currentPage: page}; let i = index"
            class="col-lg-4 border text-center mt-4 p-1">
          <th scope="row">{{i+1}}</th>
          <th scope="row">{{feed.account.fullname}}</th>
          <th scope="row">{{feed?.title}}</th>
          <th scope="row">{{feed.dateFeedback}}</th>
          <th scope="row">{{feed.meetingRoom.name}}</th>
          <th scope="row">{{feed.description}}</th>
          <th scope="row">{{feed.feedBackType.name}}</th>
          <th scope="row" *ngIf="(feed.handle) ">Đã xử lý</th>
          <th scope="row" *ngIf="!(feed.handle) "> Chưa xử lý</th>
          <td class="text-center">
            <!--  <a  [routerLink]="['/handle-feedback/' , feed.id]">
                        <span class="material-icons">
                          <i style="font-size: 20px; color: #17a2b8" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </span>
              </a>-->
            <a  (click)="actionFeedbackType(feed.feedBackType.id, feed.id)">
                  <span class="material-icons">
                    <i style="font-size: 20px; color: #17a2b8" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </span>
            </a>

            <a href="#myModal" class="trigger-btn" data-toggle="modal" data-target="#myModal">
                      <span class="material-icons" (click)="openDialogDelete(feed.id)">
                        <i style="font-size: 20px; color: red" class="fa fa-trash" aria-hidden="true"></i>
                      </span>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <pagination-controls (pageChange)=" page = $event " style="text-align: center" previousLabel="Trước" nextLabel="Tiếp"></pagination-controls>
    </div>
  </div>
</div>
