<!--start Navbar-->
<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>
<div class="fixed">
  <nav id="nav" class="site-navbar js-sticky-header site-navbar-target" role="banner">
    <div class="container">
      <div class="row align-items-center position-relative">
        <div class="site-logo ">
          <a routerLink="" class="text-black"><span class="text-white">CODEGYM</span></a>
        </div>
        <div class="col-11">
          <nav class="site-navigation text-right ml-auto " role="navigation">
            <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block"
                *ngIf="(authService.isUserLoggedIn() && authService.checkRoleAdmin())">
              <li><a routerLink="/list-meeting-admin">Phòng Họp</a></li>
              <li><a routerLink="/list-equipment">Tài Sản</a></li>
              <li><a routerLink="/emp-list">Người Dùng</a></li>
              <li><a routerLink="/statistic">Thống Kê</a></li>
              <li >
                <a routerLink="/list-feedback-admin" class="nav-link" *ngIf="authService.isUserLoggedIn()">Xem Phản Hồi</a>
<!--                <ul class="dropdown arrow-top">-->
<!--                  <li><a routerLink="/list-feedback-admin" class="nav-link">Phản Hồi Phòng Họp</a></li>-->
<!--                  <li><a routerLink="/add-feed-technical" class="nav-link">Phản Hồi Hệ Thống</a></li>-->
<!--                  <li><a routerLink="/list-feedback-admin"  class="nav-link">Danh Sách Phản Hồi</a></li>-->
<!--                </ul>-->

              </li>
            </ul>
            <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block"
                *ngIf="(authService.isUserLoggedIn() && !authService.checkRoleAdmin())">
              <li><a routerLink="/list-meeting" class="nav-link">Danh Sách Phòng Họp</a></li>
              <li class="has-children">
                <a routerLink="/list-meeting" class="nav-link" *ngIf="authService.isUserLoggedIn()">Phòng Họp</a>
                <ul class="dropdown arrow-top">
                  <li><a href="#" class="nav-link">Tìm Kiếm Phòng Họp</a></li>
                  <li><a routerLink="/register-history/account/{{idAccount}}" class="nav-link">Lịch Sử Đăng Kí</a></li>
                  <li><a href="#" class="nav-link">Đăng Kí Phòng Họp</a></li>
                </ul>
              </li>
              <li class="has-children">
                <a class="nav-link">Phản hồi</a>
                <ul class="dropdown arrow-top">
                  <li><a routerLink="/create-feedback-meeting-room" class="nav-link">Tạo phản hồi phòng họp</a></li>
                  <li><a routerLink="/add-feed-technical" class="nav-link">Tạo hản Hồi Hệ Thống</a></li>
                  <li><a routerLink="/list-feedback-user" class="nav-link">Danh Sách Phản Hồi</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-1" style="padding: 0px">
          <nav class="site-navigation text-right ml-auto " role="navigation">
            <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
              <li class="login__aria"><a routerLink="/login" class="login__text" *ngIf="!authService.isUserLoggedIn()">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                Đăng Nhập</a></li>
              <li class="has-children" *ngIf="authService.isUserLoggedIn()">
                <a href="#" class="nav-link" style="margin: 0px; width: 100px">Xin chào</a>
                <ul class="dropdown arrow-top">
                  <li><a href="#" class="nav-link">Thông tin</a></li>
                  <li><a routerLink="/logout" class="nav-link">Đăng xuất</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <div class="toggle-button d-inline-block d-lg-none">
          <a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span
            class="icon-menu h3"></span></a>
        </div>
      </div>
    </div>
  </nav>
</div>
<!--end Navbar-->
