<div id="wrap">
  <div class="content">
    <section class="content" style="font-family: 'Poppins', sans-serif;">
      <div class="container-fluid">

        <!-- Create new user account -->
        <div class="row content_style">
          <div class="col-md-3">
            <div class="card card-user">
              <div class="card-body">
                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
<!--                  <div class="fileinput-new thumbnail img-raised" *ngIf="meetingRoom">-->
<!--                    <img src="{{meetingRoom.imageUrl}}" style="width: 100%;" alt="..." rel="nofollow">-->
<!--                  </div>-->
                  <div class="fileinput-new thumbnail img-raised">
                    <img [src]="getImageUrl()" style="width: 100%;" alt="..." rel="nofollow">
                  </div>
                  <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                  <div>
                    <span style="margin-top: 20px"
                          class="btn btn-info btn-round btn-default btn-file btn__upload-custom">
                      <span class="fileinput-new">Upload</span>
                      <input type="file" name="..." (change)="showImage($event)"/>
                    </span>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!--End table information-->

          <div class="col-md-9">
            <div class="card-user">
              <div class="card-header card-background-color ">
                <h4><b>Chỉnh Sửa Phòng Họp</b></h4>
              </div>
              <div class="card-body">
                <form [formGroup]="editMeetingRoom" (ngSubmit)="onSubmit(editMeetingRoom)">
                  <div class="row">
                    <div class="col-md-12 pr-1">
                      <div class="form-group">
                        <label>Tên phòng <span class="infomation__required">(*)</span></label>
                        <input type="text" class="form-control" placeholder="Tên phòng" formControlName="name">
                        <small *ngIf="editMeetingRoom.get('name').invalid && editMeetingRoom.get('name').touched"
                               class="text-danger">Vui lòng nhập tên phòng!</small>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 pr-1">
                      <div class="form-group">
                        <label>Tầng <span class="infomation__required">(*)</span></label>
                        <input type="number" class="form-control" placeholder="Nhập tầng" formControlName="floors" min="1">
                        <small *ngIf="editMeetingRoom.get('floors').invalid && editMeetingRoom.get('floors').touched"
                               class="text-danger">Vui lòng nhập tầng!</small>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 pr-1">
                      <div class="form-group">
                        <label for="area">Khu vực <span class="infomation__required">(*)</span></label>
                        <select class="form-control" id="area" formControlName="area">
                          <option *ngFor="let area of areaList" [ngValue]="area.id"
                                  [selected]="area.name == editMeetingRoom.controls.area.value.name">{{area.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label for="roomStatus">Trạng thái<span class="infomation__required">(*)</span></label>
                        <select class="form-control" id="roomStatus" formControlName="roomStatus">
                          <option *ngFor="let roomStatus of statusRoomList" [ngValue]="roomStatus.id"
                                  [selected]="roomStatus.name == editMeetingRoom.controls.roomStatus.value.name">{{roomStatus.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label for="typeMeetingRoom">Loại phòng <span class="infomation__required">(*)</span></label>
                        <select class="form-control" id="typeMeetingRoom" formControlName="typeMeetingRoom">
                          <option *ngFor="let typeMeetingRoom of typeMeetingRoom" [ngValue]="typeMeetingRoom.id"
                                  [selected]="typeMeetingRoom.name == editMeetingRoom.controls.typeMeetingRoom.value.name">{{typeMeetingRoom.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 pr-1">
                      <div class="form-group">
                        <label for="roomStatus">Chọn tài sản<span class="infomation__required">(*)</span></label>
                        <input type="button" class="form-control" value="Chọn tài sản">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="row">
                      <div class="">
                        <button class="btn btn-warning" type="submit" style="margin: 0 30px">Chỉnh Sửa
                        </button>
                      </div>
                      <div class="">
                        <button class="btn btn-info" [routerLink]="['']">Quay Lại
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
