

<div class="content p-3">
   <h3 style="padding: 10px;">Chọn tài sản</h3>
  <div class="form-group row">
    <label for="input" class="col-sm-4 col-form-label">Danh sách tài sản</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="input" placeholder="Nhập tên tài sản" (change)="searchByNameEquipment($event)">
    </div>
  </div>


    <table class="table table-bordered">
      <thead>
      <tr>
<!--        <th></th>-->
        <th scope="col">Tài sản</th>
        <th scope="col">Số lượng trong kho</th>
        <th scope="col">Số lượng muốn thêm</th>
        <th scope="col">Thêm</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipment of equipmentList | paginate: {itemsPerPage:5, currentPage: page};">
<!--          <td >-->
<!--            <input type="hidden" formControlName="id" value="{{equipment.id}}" readonly>-->
<!--          </td>-->
          <td scope="row" >{{equipment.name}}</td>
          <td >{{equipment.stock}}</td>
          <td style="padding: 0 5%">
            <input style="width: 80%" type="number" class="form-control mx-3" min="0" max="{{equipment.stock}}">
          </td>
          <td>
            <button >Thêm</button>
          </td>
        </tr>

      </tbody>
    </table>

  <div>
    <pagination-controls (pageChange)="page = $event" previousLabel="Trước" nextLabel="Tiếp" style="text-align: center"></pagination-controls>
  </div>
    <div class="text-center m-2">
      <button (click)="closeDialog()" class="btn-outline-danger m-5" style="width: 70px; border-radius: 10px">Huỷ</button>
      <button type="submit" class="btn-outline-success m-5" style="width: 90px; border-radius: 10px">Thêm</button>
    </div>
</div>

