

<div class="content p-3">
   <h3 style="padding: 10px;">Chọn tài sản</h3>
  <div class="form-group row">
    <label for="input" class="col-sm-4 col-form-label">Danh sách tài sản</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="input" placeholder="Nhập tên tài sản">
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Tài sản</th>
      <th scope="col">Số lượng trong kho</th>
      <th scope="col">Số lượng muốn thêm</th>
      <th scope="col">Thêm</th>
    </tr>
    </thead>
    <tbody>
<!--    for???????-->
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td style="padding: 0 5%"><input style="width: 80%" type="number" class="form-control mx-3"></td>
      <td><button class="btn btn-light">
        thêm
      </button></td>
    </tr>

    </tbody>
  </table>
  <div>
    <button class="btn-outline-warning justify-content-center p-2" style="width: 90px">Đóng</button>
  </div>
</div>

<div class="text-center m-2">
  <button type="reset" class="btn-outline-danger m-5" style="width: 70px">Huỷ</button>
  <button type="submit" class="btn-outline-success m-5" style="width: 90px">Thêm</button>
</div>
