<h1 class="text-center" id="title">Danh Sách Tài Sản</h1>
<i class="fas fa-cut"></i>
<i class="fab fa-accessible-icon"></i>

<div class="container-fluid main-content mt-4">
  <div class="filter-container mb-2 ">
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-success" id="add" routerLink="/create-equipment">Thêm Tài Sản</button>
      <input class="form-control mr-sm-2" placeholder="Tên Tài Sản" type="search" id="search">
      <button class=" btn btn-primary my-2 my-sm-0">Tìm Kiếm</button>
    </form>
  </div>
  <div class="container">
    <table class="table table-hover ">
      <thead class="thead-dark">
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tài sản</th>
        <th scope="col">Tổng số lượng</th>
        <th scope="col">Đang sửa chữa</th>
        <th scope="col">Đang sử dụng</th>
        <th scope="col">Image</th>
        <th scope="col">Hành động</th>
      </tr>
      </thead>
      <tbody class="table-active">
      <tr *ngFor="let equipments of equipment ">
        <td>{{equipments.id}}</td>
        <td>{{equipments.name}}</td>
        <td>{{equipments.stock}}</td>
        <td>{{equipments.repairQuantity}}</td>
        <td>{{equipments.stock - equipments.repairQuantity}}</td>
        <td><img [src]="equipments.imageUrl" class="img"></td>
        <td>
          <button class="btn btn-success" [routerLink]="['',equipments.id]">Chi tiết</button>
          <button class="btn btn-danger m-md-3" (click)="openDialogDelete(equipments.id)">Xóa</button>
          <button class="btn btn-warning" [routerLink]="['/update-equipment',equipments.id]">Sửa</button>
        </td>
      </tr>
      </tbody>
    </table>
</div>
</div>
