
<div id="wrap">
  <!--  <section class="content">-->
  <div class="container-fluid content_style">
    <h1 id="title">Danh sách phòng họp</h1>
    <div class="card shadow">
      <div class=" card-header">
        <div style="margin: 0 25px">
          <div>
            <a style="color: white;" class=" btn btn-primary" routerLink="createMeeting"><i class="fa fa-plus-circle"
                                                                                            aria-hidden="true"></i> Thêm
              Phòng Họp</a>
          </div>

          <div class="row" style="margin-top: 20px">
            <div class="col-lg-3 input-group">
              <label class="input-group-text" for="nameRoom">Tên phòng</label>
              <input type="text" class="form-control" id="nameRoom" aria-label="Search" placeholder="Nhập tên phòng"
                     [(ngModel)]="nameMeeting">
            </div>

            <div class="col-sm-3 ">
              <div class="input-group">
                <label class="input-group-text" for="startDate">Tầng </label>
                <input class="form-control" id="startDate" name="startDate" type="text" placeholder="Nhập tầng"
                       [(ngModel)]="floors"/>
              </div>
            </div>

            <div class="col-sm-3 ">
              <div class="input-group">
                <label class="input-group-text" for="area">Khu vực </label>
                <select class="custom-select" id="area" [(ngModel)]="area_id">
                  <option selected [ngValue]="searchNull">Chọn</option>
                  <option *ngFor="let items of areaList" [ngValue]="items.id">{{items.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3 input-group">
              <label class="input-group-text" for="inputGroupSelect01">Trạng thái</label>
              <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="room_status_id">
                <option selected [ngValue]="searchNull">Chọn</option>
                <option *ngFor="let items of statusRoomList" [ngValue]="items.id">{{items.name}}</option>


              </select>
            </div>

            <div class="col-sm-3 input-group">
              <label class="input-group-text" for="inputGroupSelect02">Loại phòng</label>
              <select class="custom-select" id="inputGroupSelect02" [(ngModel)]="type_meeting_room_id">
                <option selected [ngValue]="searchNull">Chọn</option>
                <option *ngFor="let items of typeMeetingRoomList" [ngValue]="items.id">{{items.name}}</option>
              </select>
            </div>

            <div class="col-sm-3 input-group">
              <label class="input-group-text" for="capacity">Sức chứa</label>
              <select class="custom-select" id="capacity" [(ngModel)]="capacity">
                <option selected [ngValue]="searchNull">Chọn</option>
                <option *ngFor="let items of typeMeetingRoomList" [ngValue]="items.capacity">{{items.capacity}}</option>
              </select>
            </div>
            <div class="row justify-content-center">
              <button type="submit" class="btn btn-primary" style="width: 100px; margin: 0 10px" (click)="search()">
                <div class="row justify-content-center">
                  <span class="material-icons">search</span>Tìm kiếm
                </div>
              </button>
              <button type="submit" class="btn btn-primary" style="width: 40px" (click)="backToListMeeting()">
                <div class="row justify-content-center">
                  <span class="material-icons">settings_backup_restore</span>
                </div>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div>
            <table class="table table-hover" width="100%" cellspacing="0">
              <thead class="thead-dark">
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên phòng</th>
                <th scope="col">Tầng</th>
                <th scope="col">Khu vực</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Loại phòng</th>
                <th scope="col">Sức chứa</th>
                <th class="text-center" colspan="3">Hành Động</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngFor="let meetingRoom of meetingRoomList | paginate: {itemsPerPage:10, currentPage: page}; let i = index"
                class="col-lg-4 border text-center mt-4 p-1">

                <td class="text-left"> {{i + 1}}</td>
                <td class="text-left">{{meetingRoom.name}}</td>
                <td class="text-left">{{meetingRoom.floor }}</td>
                <td class="text-left">{{meetingRoom.area.name |titlecase}}</td>
                <td class="text-left">{{meetingRoom.roomStatus.name}}</td>
                <td class="text-left">{{meetingRoom.typeMeetingRoom.name}}</td>
                <td class="text-left">{{meetingRoom.typeMeetingRoom.capacity}}</td>
                <td class="text-center">
                  <a href="#myModal" class="trigger-btn" data-toggle="modal" data-target="#myModal">
                      <span class="material-icons" (click)="openDialogDelete(meetingRoom.id)">
                        <i style="font-size: 20px; color: red" class="fa fa-trash" aria-hidden="true"></i>
                      </span>
                  </a>
                </td>
                <td class="text-center">
                  <a routerLink="/update/{{meetingRoom.id}}">
                      <span class="material-icons">
                        <i style="font-size: 20px; color: #17a2b8" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </span>
                  </a>
                </td>
                <td class="text-center"><a href="detailAccount.html">
                  <i style="font-size: 20px;" class="fa fa-info-circle" aria-hidden="true"></i>
                </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex flex-row justify-content-center ">
            <nav aria-label="Page navigation example">
              <div>
                <pagination-controls (pageChange)="page = $event" style="text-align: center " previousLabel="Trước"
                                     nextLabel="Tiếp"></pagination-controls>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
