
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Tên phòng</th>
    <th scope="col">Tầng</th>
    <th scope="col">Khu vực</th>
    <th scope="col">Trạng thái</th>
    <th scope="col">Loại phòng</th>
    <th scope="col">Sức chứa</th>

    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let meetingRoom of meetingRoomList | paginate: {itemsPerPage:2, currentPage: page}; let i = index" class="col-lg-4 border text-center mt-4 p-1">
    <td>{{i + 1}}</td>
    <td>{{meetingRoom.name}}</td>
    <td>{{meetingRoom.floors }}</td>
    <td>{{meetingRoom.area.name |titlecase}}</td>
    <td>{{meetingRoom.roomStatus.name}}</td>
    <td>{{meetingRoom.typeMeetingRoom.name}}</td>
    <td>{{meetingRoom.typeMeetingRoom.capacity}}</td>

    <td>
      <button class="btn btn-info" [routerLink]="['/showDetailsMeeting/', meetingRoom.id]">Xem chi tiết</button>
    </td>
  </tr>
  </tbody>
</table>
<div>
  <pagination-controls (pageChange)="page = $event" style="text-align: end"></pagination-controls>
</div>

<style>
  td{
    text-align: start;
  }
</style>
