<div class="container">
  <p style="text-align: center; margin: 50px; font-size: 40px">
    Huỷ đăng kí phòng họp
  </p>
  <div class="row" id="content">
    <div class="col-sm-7">

      <form class="border-info">
        <div class="card-body ">
          <div class="row">
            <div class="col-sm-5">
              <h4 class="mb-0">Tên phòng:</h4>
            </div>
            <div class="col-sm-3 text-secondary">
              6.6A
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-5">
              <h4 class="mb-0">Loại phòng họp:</h4>
            </div>
            <div class="col-sm-3 text-secondary">
              Hàng tháng
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-5">
              <h4 class="mb-0">Ngày đăng kí:</h4>
            </div>
            <div class="col-sm-3 text-secondary">
              12/12/2021
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-5">
              <h4 class="mb-0">Ngày bắt đầu:</h4>
            </div>
            <div class="col-sm-3 text-secondary">
              16/12/2021
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-5">
              <h4 class="mb-0">Ngày kết thúc:</h4>
            </div>
            <div class="col-sm-3 text-secondary">
              16/12/2021
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-5">
              <h4 class="mb-0">Giờ bắt đầu:</h4>
            </div>
            <div class="col-sm-3 text-secondary">
              7:00 AM
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-5">
              <h4 class="mb-0">Giờ kết thúc:</h4>
            </div>
            <div class="col-sm-3 text-secondary">
              11:00 AM
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-5">
              <h4 class="mb-0">Nội dung cuộc họp:</h4>
            </div>
            <div class="col-sm-3 text-secondary">
              Họp Đảng
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-5">
              <h4 class="mb-0">Lý do huỷ :</h4>
            </div>
            <div class="col-sm-3 text-secondary">
                    <textarea style="height: 200px; width: 350px">Do cuộc họp bị huỷ
                    </textarea>
            </div>
          </div>
          <hr>
          <br>
        </div>

        <div class="row">
          <div class="col-sm-12 row justify-content-center">
            <button class="btn btn-primary">Quay lại</button>
            <button  type="submit" class="btn btn-danger" style="margin: 0 70px">Huỷ đăng kí</button>
          </div>
        </div>
        <br>

      </form>

    </div>
    <div class="col-sm-4">
      <div class="col-4">
        <img src="https://webcdn.executivecentre.com/wp-content/uploads/sites/37/2020/10/img-meetingroomrental_meetingroom.jpg"/>
      </div>
    </div>
  </div>
</div>
