img{
  margin-top: 70px;
  width: 500px;
  height: 350px;
}
#content{
  font-size: 16px;
}
#wrap{
  padding: 50px 50px 50px 50px;
  background-image: url("https://img4.thuthuatphanmem.vn/uploads/2020/05/12/hinh-anh-xam-khoi_103624490.jpg");
}
button{
  border-radius: 10px;
}

